.no-orders-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.not-found-img {
  max-width: 80%;
  max-height: 400px;
  opacity: 0.8;
  object-fit: contain;
}
